/*	Body of Site	*/
body
{
	/*background-image: url('background.jpg');
	background-size: cover;
	
	width: 100%;
	height: 100%;*/
	background-color: white;
}

ul 
{
	list-style-type: none;
}

/*	Site Logo	*/
.homelogo
{
	/*position: fixed;*/
	max-height: 95px;
	transition: transform 0.9s;
}

.homelogo:hover
{
	transform: rotate(360deg);
	/*transform: scale(1.1);*/
}

/*	Site Navigation	*/
nav
{
	position: relative;
	min-height: 120px;
}

nav.sitenavigation a:link
{
	text-decoration: none;
	color: black;
}

nav.sitenavigation a:visited
{
	color: black;
}

nav.sitenavigation li.navlogo
{
	position: absolute;
	margin-top: -4px;
	margin-left: -30px;
	/*border: 2px solid white;
	border-radius: 95px;
	/*opacity: 50%;*/
}
/*
.navcampindex
{
	position: absolute;
	top: 25px;
	right: 35px;
	font-size: 25px;
	font-family: 'Cutive Mono';
}
*/

.navabout:hover
{
	transform: scale(1.1);
}

.sitetitle
{
	position: absolute;
	top: 10px;
	left: 115px;
	font-size: 55px;
	font-family: 'Cutive Mono';
	/*text-shadow: 3px 2px 0px white;*/
}

/*	Background holder	*/
.backgroundphoto
{
	margin-top: -250px;
	margin-left: -10px;
	border-bottom: 2px solid black;
	border-radius: 65px;
	width: 102%;
	height: 800px;
}

/*	Scroll bar	*/

::-webkit-scrollbar {
  display: none;
}

